*/__pycache__
*/tmpmodel
*/.env
.env
recorded_audio.wav
temp_audio.wav
.venv
mfa_env
/*recordings*/
multi_phoneme
src/models
**/wav2vec2-base*
**/wav2vec2-finetuned*
phoneme_embeddings
data
src/*.pt
src/*.onnx
logs
**/dist