fastapi
uvicorn
transformers>=4.11.0
torchaudio
phonemizer
protobuf
python-multipart
soundfile
sounddevice
pandas
matplotlib
seaborn
datasets
torchaudio
torch>=2.0.0
transformers[torch]==4.50.3
accelerate>=0.26.0
pydub
openai-whisper
resampy

# Then do: pip install torch --extra-index-url https://download.pytorch.org/whl/cu118

########
# conda create -n mfa python=3.9
# conda activate mfa
# pip install --upgrade pip setuptools wheel
# conda install mamba -n base -c conda-forge
# mamba create -n aligner python=3.9
# conda activate aligner
# mamba install -c conda-forge montreal-forced-aligner
# mfa version
# mfa model download acoustic english_us_arpa
# mfa model download dictionary english_us_arpa
# mfa align \
#   data/ogi_kids/corpus \
#   english_us_arpa \
#   english_us_arpa \
#   data/ogi_kids/aligned_phonemes \
#   --single_speaker

montreal-forced-aligner
praat-parselmouth
soundfile
torch
numpy
transformers
scikit-learn
sounddevice
librosa
datasets[audio]

# Installed https://github.com/P1ayer-1/Libtorch-UE5 
# Went to: https://pytorch.org/get-started/locally/
# Downloaded LibTorch/Windows/CPU => Release zip - https://download.pytorch.org/libtorch/cpu/libtorch-win-shared-with-deps-2.6.0%2Bcpu.zip

# Install https://github.com/P1ayer-1/Tokenizers-UE5

torch
transformers
onnx
onnxruntime
resampy
matplotlib
seaborn
umap-learn
scikit-learn
umap
pronouncing
audiomentations